# Database config
POSTGRES_HOST=dpg-d59o1lpr0fns73ftp1hg-a.singapore-postgres.render.com
POSTGRES_PORT=5432
POSTGRES_DB=ragllmdatabase_t2b6
POSTGRES_USER=ragllmdatabase_t2b6_user
POSTGRES_PASSWORD=
SCARF_NO_ANALYTICS=true

# Langsmith config
LANGCHAIN_TRACING_V2=false
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT="rag-llm-service"

# Others
SECRET_KEY = "your_jwt_secret_key"
ALGORITHM = "HS256"
MONGODB_URI = "mongodb+srv://readonly_user:webnc21_3@tmdb.yhr8d.mongodb.net/"
MONGODB_DB = "tmdb_db"

# Use Gemini or OpenAI
USE_GEMINI = True

# Jina AI Embeddings
USE_JINA = False
JINA_API_KEY=your_jina_api_key_here
JINA_EMBEDDING=jina-embeddings-v3